<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#1b1b1b" />
    {% if page == "article" %}
        <meta property="og:site_name" content="geeoh.net">
        <meta property="og:title" content="{{ article.title }}">
        <meta property="og:description" content="{{ article.description }}">
        <meta property="og:type" content="article">
        <meta property="og:url" content="https://geeoh.net/article/{{ article.id }}/{{ article.title|slugify }}/">
        <meta property="og:image" content="https://geeoh.net/media/{{ article.id }}/thumbnail.png">
        <title>{{ article.title }} | geeoh.net</title>
    {% elif page %}
        <title>{{ page|title }} | geeoh.net</title>
    {% else %}
        <meta property="og:site_name" content="geeoh.net">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Yelling at the void.">
        <meta property="og:image" content="https://geeoh.net/static/favicon.png">
        <title>geeoh.net</title>
    {% endif %}
    <link rel="shortcut icon" href="/static/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/style.css{{ css_age }}">
    <script src="/static/js/htmx.min.js"></script>
</head>
<body>
    <div class="header">
        <div class="title"><a href="/" style="color: #ffffff; text-decoration: none;">geeoh.net</a></div>
        {% if motto %}
            <div class="motto">{{ motto }}</div>
        {% else %}
            <div class="motto">I just don’t know what went wrong!</div>
        {% endif %}
        {% if user.is_authenticated and page != "publish" %}
            <div class="publish">
                <a href="/publish/" style="color: #ffffff;">Publish</a>
                {% if page == "article" %}
                    <a href="/article/{{ article.id }}/edit/" style="color: #ffffff;">Edit</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% block content %}{% endblock %}
    <footer>
        <div class="title"><a href="/" style="color: #333333; text-decoration: none;">geeoh.net</a></div>
        <div style="color: #333333">Copyright &copy; {% now 'Y' %} &bullet; geeoh.net</div>
    </footer>
</body>
</html>
