<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#1b1b1b" />
    {% block metadata %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/static/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/style.css{{ css_age }}">
    <script src="/static/js/htmx.min.js"></script>
</head>
<body>
    <div class="header">
        <div class="title"><a href="/" style="color: #ffffff; text-decoration: none;">geeoh.net</a></div>
        <div class="motto">{{ motto }}</div>
        {% if user.is_authenticated and page != "publish" %}
            <div class="publish">
                <a href="/publish/" style="color: #ffffff;">Publish</a>
                {% if page == "article" %}
                    <a href="/article/{{ article.id }}/edit/" style="color: #ffffff;">Edit</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% block content %}{% endblock %}
    <footer>
        <div class="title"><a href="/" style="color: #333333; text-decoration: none;">geeoh.net</a></div>
        <div style="color: #333333">Copyright &copy; {% now 'Y' %} &bullet; geeoh.net</div>
    </footer>
</body>
</html>
